<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/styleChambre.css">
    <title>Document</title>
</head>
<body>
    <!-- Header -->
    
    <div class="container">
      <div class="stiky-nav">
          <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Hotes<span>.</span>com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span></span>
                  <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Decouvrir</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Chambres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Services</a>
                    </li>
                  </ul>
                  <form class="d-flex">
                    <button class="btn" type="submit">Reserver</button>
                  </form>
                </div>
              </div>
            </nav>
      </div>
      <div class="row">
          <div class="headChambre">
            <div class="divChambre">
                <h1>CHAMBRES</h1>
            </div>
            <div class="divImgChambre">
                <img src="../public/images/a38016_f23f8b18b81a424381d7a612c2988396.webp" alt="">
            </div>
          </div>
      </div>
      <div class="row">
          <section class="chambre">
            <h3>Nos chambres</h3>
            <div class="choisirChambre">
                <form action="">
                    <div class="form-group">
                        <label for="">Arriver</label>
                        <input type="date">
                    </div>
                    <div class="form-group">
                        <label for="">Départ</label>
                        <input type="date">
                    </div>
                    <div class="form-group">
                        <label for="">Adulte</label>
                        <input type="number">
                    </div>
                </form>
            </div>
        </section>
      </div>
    </div>
    
        
    
    
    
    <!-- <div class="container">
      <div class="footer">
        <div class="row">
          <div class="d-flex justify-content-between">
            <div>
              <div>
                <div>15, rue du Château</div>
                <div>
                  <span>75001 Paris, France</span>
                  <span>01 23 45 67 89</span>
                </div>
              </div>
              <div>
                <div>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div>
                  <span></span>
                  <span></span>
                </div>
              </div>
              <div>
                
              </div>
            </div>
            <div>
              <h3>Inscrivez-vous a notre liste de diffusion</h3>
                <form action="">
                 <div>
                   <input type="email" class="form-control" >
                   <button type="submit" class="btn">Rejoindre</button>
                 </div>
                </form>
            </div>
            
            
          </div>
        </div>
      </div>
    </div> -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../public/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
</body>
</html>